.allinone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
}

.overhomepage{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.homepage{
    font-size: 20px;
    font-weight: bold;  
    text-decoration: none;
    color: black;
}

.create{
    padding-top:60px;
    padding-bottom: 60px;
    margin-left: 276px;
    margin-right: 276px;
}

.bigtitle{
    font-size : 20px;
    font-weight: bold;
    margin-bottom: 20px;
    grid-row-start: 1;
}

.element{
    margin-bottom: 10px;
}

.bottom_login{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.account_login{
    padding-left: 10px;
    color: black;
}


.title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
}

.email_area{
    width: 170px;
    height: 40px;
    margin-right: 1px;
    padding: 15px;
    outline-color:skyblue;
}

.email-container{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.email-container span {
    width:20px; 
    height:40px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.options-container{
    position: relative;
    display:inline-block;
}

.input-button-combined input {
    width: 170px;
    padding: 15px;
}

.open-options-button{
    width: 170px;
    height: 40px;
    background-color: white;
    margin-left: 1px;
    border-color: 1px #ccc;
    padding: 5px 10px;
    cursor: pointer;
}

.options{
    position: absolute;
    top: -100%;
    left: 0;
    z-index:1000;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    width: 170px;
    margin-top: 5px;
}

.options ul {
    list-style-type: none;
    padding: 0;
    margin : 0;
}

.options li {
    padding:10px;
    cursor: pointer;
}

.options li:hover{
    background-color: #f1f1f1;
}

.sub{
    font-size: 14px;
    color : #b7b8b9;
    margin-bottom: 10px;
}

.title.error{
    color: red;
    font-weight: bold;
}

.input_area{
    width: 360px;
    height: 40px;
    margin-bottom: 30px;
    padding: 15px;
    outline-color: skyblue;
}
  
.input_area.error,
.email_area.error{
    border-color : red;
    outline-color: red;
    border-radius: 4px;
    margin: 0px;
}


.total_checkbox{
    display:flex;
    align-items: center;
}

.checkBox{
    width: 18px;
    height: 18px; 
    margin: 6px;
}

.check_content{
    width: 280px;
}

.arrow{
    text-decoration: none;
    font-weight:bold;
    color: black;
}

.main_border{
    outline:1px solid #ccc;
    padding: 18px;
    font-size: 14px;
    margin-bottom: 30px;
}

.robot{
    font-size: 16px;
    font-weight: bold;
    border :1px solid #ccc;
}

.robotBox{
    width: 28px;
    height: 28px;
    margin: 20px;
}